<!doctype html>
<html lang="en">
<head>
    <meta name="viewport">
    <meta name="msapplication-config"
          content="https://cdn.ons.gov.uk/sdc/design-system/25.1.3/favicons/browserconfig.json">
    <link rel="icon" type="image/x-icon" href="https://ons-design-system.netlify.app/favicons/favicon.ico">
    <link rel="icon" type="image/png" href="https://cdn.ons.gov.uk/sdc/design-system/25.1.3/favicons/favicon-32x32.png"
          sizes="32x32">
    <link rel="icon" type="image/png" href="https://cdn.ons.gov.uk/sdc/design-system/25.1.3/favicons/favicon-16x16.png"
          sizes="16x16">
    <link rel="mask-icon" color="#5bbad5"
          href="https://cdn.ons.gov.uk/sdc/design-system/25.1.3/favicons/safari-pinned-tab.svg">
    <link rel="apple-touch-icon" type="image/png"
          href="https://cdn.ons.gov.uk/sdc/design-system/25.1.3/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="https://cdn.ons.gov.uk/sdc/design-system/25.1.3/favicons/manifest.json">
    <link rel="stylesheet" type="text/css" href="https://cdn.ons.gov.uk/sdc/design-system/25.1.3/css/main.css">
    <title>{{ title }}</title>
    <meta
            name="description"
            content="Access CATI dashboard and active surveys"
    />
</head>
<body>
{% include "PhaseBanner.html" %}
{% include "Header.html" %}
<div id="body" class="page__container container" style="min-height: calc(67vh);">
    <main id="main-content" class="page__main">
        <h1>Page not found</h1>
        <p>If you entered a web address, check it is correct.</p>
        <p>If you pasted the web address, check you copied the whole address.</p>
        <p>If the web address is correct or you selected a link or button, <a href="https://ons.service-now.com/">report this issue</a> to Service Desk.</p>
        <p>Or try to navigate to the Blaise Survey Manager <a href="/">homepage</a>.</p>
    </main>
</div>
{% include "Footer.html" %}
</body>
</html>