<header class="header header--internal">
    <div class="header__top" role="banner">
        <div class="container">
            <div class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap ">
                <div class="grid__col col-auto">
                    <a class="header__logo-link" href="/">
                        <picture>
                            <source media="(max-width: 499px)"
                                    srcset="https://ons-design-system.netlify.app/img/ons-logo-stacked-neg-en.svg"
                                    alt="Office for National Statistics logo">
                            <img class="header__logo"
                                 src="https://ons-design-system.netlify.app/img/ons-logo-neg-en.svg"
                                 alt="Office for National Statistics logo">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div
                    class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto u-flex-shrink">
                    <div class="header__title">{{ title }}</div>
                </div>
            </div>
        </div>
    </div>
</header>